html {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

     font-size: 16px;
}
body {
    background-color: #f5f8fa;
    color: #636b6f;
}

label {
    display: block;
}
input, textarea, select {
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 6px 10px;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #E1E1E1;
}


.container {
    margin-left: 6rem;
    margin-right: 6rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
